flows.json
[{"id":"7b0d187f.d1c348","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"98dc02b1.ef239","type":"function","z":"7b0d187f.d1c348","name":"PreToken","func":"global.set(\"pr\",msg.payload.pr)\nglobal.set(\"pl\",msg.payload.pl)\nglobal.set(\"pre\",msg.payload.pre)\nglobal.set(\"sk\",msg.payload.sk)\nglobal.set(\"tst\",msg.payload.tst)\nglobal.set(\"ms\",msg.payload.ms)\nglobal.set(\"pe\",msg.payload.pe)\nglobal.set(\"a\",msg.payload.a)\nvar apikey=\"2lKWPMCPcn-tdXtp3fCALhNhRnSJsi-0Im32QmlWwzYP\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":440,"wires":[["dbde5a50.1908c8"]]},{"id":"dbde5a50.1908c8","type":"http request","z":"7b0d187f.d1c348","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":479,"y":428.9999952316284,"wires":[["5dfb9888.017c68"]]},{"id":"440fc78b.d05278","type":"debug","z":"7b0d187f.d1c348","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":918.0000114440918,"y":170.99999713897705,"wires":[]},{"id":"5dfb9888.017c68","type":"function","z":"7b0d187f.d1c348","name":"Pre Prediction","func":"var pr = global.get('pr')\nvar pl = global.get('pl')\nvar pre = global.get('pre')\nvar sk = global.get('sk')\nvar tst = global.get('tst')\nvar ms = global.get('ms')\nvar pe = global.get('pe')\nvar a = global.get('a')\nvar token=msg.payload.access_token\nvar instance_id=\"943d16b4-d8e4-4040-80c8-aed2dbc3cd72\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"preg\", \"plas\", \"pres\", \"Skin\",\"test\",\"mass\",\"pedi\",\"age\"], \"values\": [[pr,pl,pre,sk,tst,ms,pe,a]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":676.0000076293945,"y":391.9999990463257,"wires":[["d165d591.51a708"]]},{"id":"d165d591.51a708","type":"http request","z":"7b0d187f.d1c348","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/2e05859e-79cb-4a41-b2f7-da8f4d229e47/predictions?version=2021-05-31","tls":"","persist":false,"proxy":"","authType":"","x":769.5000076293945,"y":335.9999990463257,"wires":[["45246ed.2b5e49","440fc78b.d05278"]]},{"id":"fde1d0e3.01d54","type":"ui_form","z":"7b0d187f.d1c348","name":"","label":"","group":"a4e7c832.43bbc8","order":1,"width":0,"height":0,"options":[{"label":"preg","value":"pr","type":"number","required":true,"rows":null},{"label":"plas","value":"pl","type":"number","required":true,"rows":null},{"label":"pres","value":"pre","type":"number","required":true,"rows":null},{"label":"Skin","value":"sk","type":"number","required":true,"rows":null},{"label":"test","value":"tst","type":"number","required":true,"rows":null},{"label":"mass","value":"ms","type":"number","required":true,"rows":null},{"label":"pedi","value":"pe","type":"number","required":true,"rows":null},{"label":"age","value":"a","type":"number","required":true,"rows":null}],"formValue":{"pr":"","pl":"","pre":"","sk":"","tst":"","ms":"","pe":"","a":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":71,"y":482.9999952316284,"wires":[["98dc02b1.ef239"]]},{"id":"8fa47746.b12418","type":"ui_text","z":"7b0d187f.d1c348","group":"a4e7c832.43bbc8","order":2,"width":0,"height":0,"name":"","label":"Class","format":"{{msg.payload}}","layout":"row-spread","x":797.6000366210938,"y":488.20000743865967,"wires":[]},{"id":"45246ed.2b5e49","type":"function","z":"7b0d187f.d1c348","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":629.6000366210938,"y":231.60000133514404,"wires":[["8fa47746.b12418"]]},{"id":"a4e7c832.43bbc8","type":"ui_group","name":"Diabetic Mellitus Prediction","tab":"64f85560.467cbc","order":1,"disp":true,"width":"6","collapse":false},{"id":"64f85560.467cbc","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]